<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orders</servlet-name>
        <servlet-class>orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminreg</servlet-name>
        <servlet-class>adminreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminreg</servlet-name>
        <url-pattern>/adminreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
